@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trul Framework</title>
    <script src="@Url.Content("/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/knockout-2.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>

    <script src="@Url.Content("/Scripts/jquery.validate.js")" type="text/javascript"></script>

    <link href="@Url.Content("/Content/themes/base/trul.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("/Content/themes/base/css/bootstrap.min.css")" rel="stylesheet" media="screen" />
    <script src="@Url.Content("/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("/Content/themes/fontAwesome/css/font-awesome.min.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("/Content/themes/fontAwesome/css/font-awesome-ie7.min.css")" rel="stylesheet" media="screen" />
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    <script type="text/javascript">
        $(document).ready(function () {
            // Disable browser cache Ajax.ActionLinks
            $.ajaxSetup({ cache: false });
        });

    </script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
